<div id="header">
  <div id='title'>_ARCHITEKT</div>
</div>

<div id="loginBox">
  <h1 class="formTitle">Login</h1>
  <p>Invalid login. Please try again.</p>
  <form id="loginForm" action="/auth/login" method="post">
    Username:<br>
    <input type="text" name="username">
    <br><br>
    Password:<br>
    <input type="password" name="password">
    <br><br><br>
    <input class="submitBtn" type="submit" value="Submit">
  </form>
</div>