{{!-- a "new photo" form
the form fields are:
author : Text
link : Text (the image url)
description : TextArea --}}

<div id='title'>
  <h1>_ARCHITEKT</h1>
</div>

<form action="/" method="post">
  <h1>Submit a new photo:</h1>
  <label>Author:<br>
    <textarea name="author" id=""></textarea>
  </label>
  <br><br>
  <label>Link:<br>
    <textarea name="link" id=""></textarea>
  </label>
  <br><br>
  <label>Description:<br>
    <textarea name="description" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<br>
<a class="redirect" href="/">Back to gallery</a>