{{!-- a "new photo" form
the form fields are:
author : Text
link : Text (the image url)
description : TextArea --}}

<div id="header">
  <div id='title'>_ARCHITEKT</div>
</div>

<form action="/gallery" method="post">
  <h1 class="formTitle">Submit A New Photo:</h1>
  <label>Author:<br>
    <textarea name="author" id=""></textarea>
  </label>
  <br><br>
  <label>Link:<br>
    <textarea name="link" id=""></textarea>
  </label>
  <br><br>
  <label>Description:<br>
    <textarea name="description" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>

<br>
<a class="redirect" href="/"><i class="fas fa-angle-double-left"></i> Back to gallery</a>